.dropdownList {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @include respond-from($breakpoint-lg) {
    display: flex;
    position: relative;
    height: $header-height;
    width: 30%;
  }
  @include respond-from($breakpoint-xl) {
    height: $header-height-large;
  }
}

:global(body.dark) {
  .dropdownList {
    @include respond-from($breakpoint-lg) {
      color: var(--color-text);
    }
  }
}
