.container {
  position: relative;
}

.textContainer {
  position: absolute;
  top: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  color: $color-text-inverted;
  font-size: calc($font-xl * 1.5);
  @include respond-between($breakpoint-md, $breakpoint-lg) {
    top: 30%;
    padding: 0 $space-lg;
  }
  @include respond-between($breakpoint-lg, $breakpoint-xl) {
    top: 20%;
    padding: 0 calc($space-lg * 3);
    font-size: calc($font-xl * 1.8);
  }
  @include respond-from($breakpoint-xl) {
    top: 20%;
    font-size: calc($font-xl * 2);
  }
}

.text {
  width: 70%;
  text-align: center;
}