.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-accent);
  color: var(--color-text-inverted);
  border-bottom: 1px solid var(--black-color);

  .logo {
    padding: calc($space-xs / 2) $space-sm 0 $space-sm;   
    @include respond-to($breakpoint-lg){
      padding: 0 $space-md 0 calc($space-lg * 1.5);
    }
  }

  .nav {
    @include respond-to($breakpoint-lg){
      width: 90%;
    }
  }
}
