.container {
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: $space-sm;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  text-align: start;
  background-color: rgba(2, 139, 189, 0.8); 
  color: var(--color-text-inverted);
  padding: 120px 50px 0 12px;
  font-size: calc($font-md * 1.4);
  border-radius:  0 100% 0 0; 
  width: 220px;
  height: 220px;
}

.title {
  font-size: 34px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: -3px;
}

.subtitle {
  font-size: 15px;
  font-weight: 300;
}

:global(body.dark) {
  .textContainer {
    color: var(--color-text);
  }
}