.main {
  text-align: center;
}
.eventCardsContainer {
  @include flex-centered-container;
  flex-direction: column;
  position: relative;
  padding: 0 calc($space-sm * 1.3);
  @include respond-between($breakpoint-sm, $breakpoint-lg) {
    padding: 0 $space-lg;
  }
  @include respond-between($breakpoint-lg, $breakpoint-xl) {
    flex-direction: row;
    justify-self: center;
    width: 80%;
    padding: $space-sm calc($space-sm * 1.3) $space-lg calc($space-sm * 1.3);

  }
  @include respond-from($breakpoint-xl){
    flex-direction: row;
    justify-self: center;
    width: 80%;
    padding: $space-sm calc($space-sm * 1.3) $space-lg calc($space-sm * 1.3);
  }
}

.products {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary-light);
  @include respond-from($breakpoint-lg) {
    flex-direction: row;
  }
}

.serverContainer {
  width: 85%;
  @include flex-centered-container;
  flex-direction: column;
  justify-self: center;
  margin: $space-md 0 calc($space-lg * 1.2);
  @include respond-from($breakpoint-lg) {
    margin: calc($space-md * 1.5) 0 calc($space-lg * 1.2);
    h2 {
      margin-bottom: $space-sm;
    }
  }
}