.productLineList {
  font-weight: $font-weight-bold;
}

.companyDetails {
  list-style-type: none;
  padding: 0;
  margin: $space-sm 0 calc($space-xs / 2) 0;
  display: flex;
  flex-direction: column;
  font-size: $font-sm;
  font-weight: $font-weight-bold;

  @include respond-from($breakpoint-lg) {
    flex-direction: row;
    align-items: center;
    margin: 0;
    font-weight: 400;
    font-size: calc($font-xs / 1.2);
  }

  @include respond-from($breakpoint-xl) {
    font-size: $font-xs;
  }

  li {
    cursor: pointer;
    text-align: left;
    padding: $space-xs $space-xs;
    @include respond-from($breakpoint-lg) {
      padding: calc($space-xs / 1.7) $space-sm;
      border-right: 1px solid rgba($border-color, 0.3);
    }
  }
}

.siteSettings {
  margin: 0 $space-xs;
  @include space-between-container;
  @include respond-from($breakpoint-lg) {
    margin: $space-xs;
  }
  @include respond-from($breakpoint-md) {
    margin-right: $space-sm;
  }
  .langContainer {
    @include respond-from($breakpoint-lg) {
      margin-right: $space-sm;
    }
  }

  .themeToggle {
    display: flex;
    align-items: center;
    img {
      transition: opacity 0.3s ease-in-out, transform 0.4s ease-in-out;
    }
    .dark {
      opacity: 1;
      transform: rotate(180deg);
    }

    .light {
      opacity: 1;
      transform: rotate(0deg);
    }
  }
}

.container {
  @include respond-from($breakpoint-lg) {
    display: flex;
    justify-content: space-between;
  }
}

.helpers {
  @include respond-from($breakpoint-lg) {
    display: flex;
  }
}

:global(body.dark) {
  .companyDetails {
    @include respond-from($breakpoint-lg) {
      color: var(--color-text);
    }
  }
}
