.container {
  width: 100%;
  @include flex-centered-container;
  padding-bottom: $space-md;
  margin-top: $space-sm;
  flex-wrap: wrap;
  align-items: stretch;

  &:not(:last-child) {
    border-bottom: 2px solid #ddd;
  }

  @include respond-from($breakpoint-lg) {
    width: 30%;

    &:not(:last-child) {
      border-bottom: none;

      .content {
        border-right: 2px solid #ddd;
      }
    }

    .content {
      padding: 0 $space-md;
    }

    .borderedContent {
      background-color: aqua;
    }
  }
}

.card {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "type"
    "content";
  width: 100%;
  max-width: 300px;
  min-height: 350px;
  height: 100%;
  overflow: hidden;
  background-color: white;

  @include respond-between($breakpoint-sm, $breakpoint-md) {
    max-width: 90%;
    width: 80%;
  }

  @include respond-between($breakpoint-md, $breakpoint-lg) {
    max-width: 90%;
    width: 80%;
  }

  @include respond-from($breakpoint-lg) {
    width: 100%;
    max-width: 100%;
    min-height: 450px;
  }
}

.content {
  grid-area: content;
  display: grid;
  grid-template-areas:
    "image"
    "text"
    "button";
  grid-template-rows: 3fr 2.5fr auto; 
  width: 100%;
  height: 100%;
  @include respond-between($breakpoint-sm, $breakpoint-md) {
    grid-template-rows: 1.5fr 1fr auto; 
  }
  @include respond-between($breakpoint-md, $breakpoint-lg) {
    grid-template-rows: 1fr .4fr auto;
  }
  @include respond-between($breakpoint-lg, $breakpoint-xl) {
    grid-template-rows: 1.6fr .7fr auto;
  }
  @include respond-from($breakpoint-xl) {
    grid-template-rows: 2.2fr 1.1fr auto;
  }
}

.type {
  grid-area: type;
  padding: 10px $space-xs;
  font-size: calc($font-md * 1.4);
  text-align: start;
  color: var(--color-text);
  display: flex;
  align-items: center;
  @include respond-from($breakpoint-lg){
    font-size: calc($font-md * 1.2);
  }
  svg {
    color: var(--color-accent);
  }

  p {
    overflow: hidden;
    padding-left: $space-xs;
  }

  @include respond-from($breakpoint-lg) {
    padding-left: $space-md;
  }
}

.imageContainer {
  grid-area: image;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  height: 100%;

  @include respond-between($breakpoint-sm, $breakpoint-md) {
    max-height: 200px;
  }

  @include respond-from($breakpoint-md) {
    max-height: 300px;
  }
}

.info {
  grid-area: text;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: $space-xs;
  overflow: hidden;
  margin-top: $space-sm;
  height: 120px;
  min-height: 100px;
  max-height: 150px;
  @include respond-from($breakpoint-lg) {
    gap: 0;
  }
  @include respond-from($breakpoint-xl) {
    height: 125px;
  }
}

.title {
  font-size: $font-sm;
  @include respond-from($breakpoint-xl) {
    font-size: calc($font-md * 1.1);
    padding-right: $space-xs;
  }
}

.date {
  font-size: $font-xs;
  color: var(--color-text-secondary);
  margin: 0 0 $space-xs 0;
  padding-right: $space-sm;
  @include respond-from($breakpoint-xl) {
    padding-right: calc($space-lg * 2);
  }
}

.description {
  font-size: $font-xs;
  color: var(--color-text);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin-bottom: $space-sm;
}

.expanded {
  -webkit-line-clamp: unset;
  overflow: visible;
  display: block;
}

.button {
  grid-area: button;
  padding: $space-xs;
  background-color: var(--color-accent);
  color: var(--color-text-inverted);
  border: none;
  font-size: $font-xs;
  height: 2.3rem;
  
  @include respond-from($breakpoint-sm) {
    width: 100%;
    justify-self: center;
  }
}

:global(body.dark) {
  .button {
    color: var(--color-text);
  }
}
