.container {
  display: flex;
  gap: $space-xs;
}

.socialIconWrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.socialIcon {
  height: 25px;
  width: 25px;
  @include flex-centered-container;
  border-radius: 50%;
  svg {
    color: #fff;
    font-size: calc($font-md * 1.1);
  }
}
.youtubeWrapper {
  background-color: #cc3743;
}
.facebookWrapper {
  background-color: #2b406e;
}
