@mixin respond-from($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin respond-between($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin flex-centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin space-between-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}