
// Base colors
$color-bg: #ffffff;
$color-text: #0e121a;
$color-primary: #f7f7f7;
$color-secondary: #e0e0e0;
$color-secondary-light: #f7f7f7;
$color-accent: #d52228;
$color-text-inverted: #ffffff;
$color-text-secondary: #777;
$border-color: #c9cbd1;
$black: #000;
$white: #fff;

// Dark theme colors
$color-bg-dark: #361515;
$color-text-secondary-dark: #d6d4d4;
$color-secondary-dark: #9d8e81;
$color-accent-dark: #b10006; 

// Font family and other settings
$font-family-base: 'Roboto', sans-serif;

$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.5rem;
$font-xl: 2rem;

// Header height
$header-height: 55px; /* Default height */
$header-height-large: 65px;

// Spacing
$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 2rem;
$space-lg: 3rem;

// Font weight
$font-weight-bold: 500;

// Breakpoints 
$breakpoint-xs: 360px;  // small phones
$breakpoint-sm: 480px;  // phones
$breakpoint-md: 769px;  // tablets
$breakpoint-lg: 1024px; // laptops
$breakpoint-xl: 1280px; // large desktops