.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $space-md 0;
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include respond-from($breakpoint-lg){
    flex-direction: row;
    width: 85%;
    margin-top: $space-sm;
    gap: $space-lg;
  }
}